@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700);
:root {
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-blue: #3f78e0;
	--bs-sky: #5eb9f0;
	--bs-purple: #747ed1;
	--bs-grape: #605dba;
	--bs-violet: #a07cc5;
	--bs-pink: #d16b86;
	--bs-fuchsia: #e668b3;
	--bs-red: #e2626b;
	--bs-orange: #f78b77;
	--bs-yellow: #fab758;
	--bs-green: #45c4a0;
	--bs-leaf: #7cb798;
	--bs-aqua: #54a8c7;
	--bs-navy: #343f52;
	--bs-ash: #9499a3;
	--bs-white: #fff;
	--bs-light: #fefefe;
	--bs-gray: #f6f7f9;
	--bs-dark: #262b32;
	--bs-primary: #3f78e0;
	--bs-secondary: #aab0bc;
	--bs-success: #45c4a0;
	--bs-info: #54a8c7;
	--bs-warning: #fab758;
	--bs-danger: #e2626b;
	--bs-blue-rgb: 63, 120, 224;
	--bs-sky-rgb: 94, 185, 240;
	--bs-purple-rgb: 116, 126, 209;
	--bs-grape-rgb: 96, 93, 186;
	--bs-violet-rgb: 160, 124, 197;
	--bs-pink-rgb: 209, 107, 134;
	--bs-fuchsia-rgb: 230, 104, 179;
	--bs-red-rgb: 226, 98, 107;
	--bs-orange-rgb: 247, 139, 119;
	--bs-yellow-rgb: 250, 183, 88;
	--bs-green-rgb: 69, 196, 160;
	--bs-leaf-rgb: 124, 183, 152;
	--bs-aqua-rgb: 84, 168, 199;
	--bs-navy-rgb: 52, 63, 82;
	--bs-ash-rgb: 148, 153, 163;
	--bs-white-rgb: 255, 255, 255;
	--bs-light-rgb: 254, 254, 254;
	--bs-gray-rgb: 246, 247, 249;
	--bs-dark-rgb: 38, 43, 50;
	--bs-primary-rgb: 63, 120, 224;
	--bs-secondary-rgb: 170, 176, 188;
	--bs-success-rgb: 69, 196, 160;
	--bs-info-rgb: 84, 168, 199;
	--bs-warning-rgb: 250, 183, 88;
	--bs-danger-rgb: 226, 98, 107;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 96, 105, 123;
	--bs-body-bg-rgb: 254, 254, 254;
	--bs-font-sans-serif: "Manrope", sans-serif;
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-root-font-size: 20px;
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 0.8rem;
	--bs-body-font-weight: 500;
	--bs-body-line-height: 1.7;
	--bs-body-color: #60697b;
	--bs-body-bg: #fefefe
}

*,
::after,
::before {
	box-sizing: border-box
}

:root {
	font-size: var(--bs-root-font-size)
}

body {
	margin: 0;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	font-weight: var(--bs-body-font-weight);
	line-height: var(--bs-body-line-height);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 700;
	line-height: 1.2;
	color: #343f52
}

.h1,
h1 {
	font-size: calc(1.27rem + .24vw)
}

@media (min-width:1200px) {
	.h1,
	h1 {
		font-size: 1.45rem
	}
}

.h2,
h2 {
	font-size: calc(1.255rem + .06vw)
}

@media (min-width:1200px) {
	.h2,
	h2 {
		font-size: 1.3rem
	}
}

.h3,
h3 {
	font-size: 1.1rem
}

.h4,
h4 {
	font-size: .95rem
}

.h5,
h5 {
	font-size: .9rem
}

.h6,
h6 {
	font-size: .85rem
}

p {
	margin-top: 0;
	margin-bottom: 1rem
}

.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.nav-link {
	display: block;
	padding: 1.2rem 1rem;
	font-size: .8rem;
	font-weight: 700;
	color: #343f52;
	transition: all .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.nav-link {
		transition: none
	}
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between
}

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	font-size: .7rem;
	white-space: nowrap
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0
}

.navbar-nav .dropdown-menu {
	position: static
}

.navbar-text {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center
}

.navbar-toggler {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
	.navbar-toggler {
		transition: none
	}
}

.navbar-toggler:hover {
	text-decoration: none
}

.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 .25rem
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%
}

.navbar-nav-scroll {
	max-height: var(--bs-scroll-height, 75vh);
	overflow-y: auto
}

@media (min-width:576px) {
	.navbar-expand-sm {
		flex-wrap: nowrap;
		justify-content: flex-start
	}
	.navbar-expand-sm .navbar-nav {
		flex-direction: row
	}
	.navbar-expand-sm .navbar-nav .dropdown-menu {
		position: absolute
	}
	.navbar-expand-sm .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem
	}
	.navbar-expand-sm .navbar-nav-scroll {
		overflow: visible
	}
	.navbar-expand-sm .navbar-collapse {
		display: flex!important;
		flex-basis: auto
	}
	.navbar-expand-sm .navbar-toggler {
		display: none
	}
	.navbar-expand-sm .offcanvas-header {
		display: none
	}
	.navbar-expand-sm .offcanvas {
		position: inherit;
		bottom: 0;
		z-index: 1000;
		flex-grow: 1;
		visibility: visible!important;
		background-color: transparent;
		border-right: 0;
		border-left: 0;
		transition: none;
		transform: none
	}
	.navbar-expand-sm .offcanvas-bottom,
	.navbar-expand-sm .offcanvas-top {
		height: auto;
		border-top: 0;
		border-bottom: 0
	}
	.navbar-expand-sm .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible
	}
}

@media (min-width:768px) {
	.navbar-expand-md {
		flex-wrap: nowrap;
		justify-content: flex-start
	}
	.navbar-expand-md .navbar-nav {
		flex-direction: row
	}
	.navbar-expand-md .navbar-nav .dropdown-menu {
		position: absolute
	}
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem
	}
	.navbar-expand-md .navbar-nav-scroll {
		overflow: visible
	}
	.navbar-expand-md .navbar-collapse {
		display: flex!important;
		flex-basis: auto
	}
	.navbar-expand-md .navbar-toggler {
		display: none
	}
	.navbar-expand-md .offcanvas-header {
		display: none
	}
	.navbar-expand-md .offcanvas {
		position: inherit;
		bottom: 0;
		z-index: 1000;
		flex-grow: 1;
		visibility: visible!important;
		background-color: transparent;
		border-right: 0;
		border-left: 0;
		transition: none;
		transform: none
	}
	.navbar-expand-md .offcanvas-bottom,
	.navbar-expand-md .offcanvas-top {
		height: auto;
		border-top: 0;
		border-bottom: 0
	}
	.navbar-expand-md .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible
	}
}

@media (min-width:992px) {
	.navbar-expand-lg {
		flex-wrap: nowrap;
		justify-content: flex-start
	}
	.navbar-expand-lg .navbar-nav {
		flex-direction: row
	}
	.navbar-expand-lg .navbar-nav .dropdown-menu {
		position: absolute
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem
	}
	.navbar-expand-lg .navbar-nav-scroll {
		overflow: visible
	}
	.navbar-expand-lg .navbar-collapse {
		display: flex!important;
		flex-basis: auto
	}
	.navbar-expand-lg .navbar-toggler {
		display: none
	}
	.navbar-expand-lg .offcanvas-header {
		display: none
	}
	.navbar-expand-lg .offcanvas {
		position: inherit;
		bottom: 0;
		z-index: 1000;
		flex-grow: 1;
		visibility: visible!important;
		background-color: transparent;
		border-right: 0;
		border-left: 0;
		transition: none;
		transform: none
	}
	.navbar-expand-lg .offcanvas-bottom,
	.navbar-expand-lg .offcanvas-top {
		height: auto;
		border-top: 0;
		border-bottom: 0
	}
	.navbar-expand-lg .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible
	}
}

@media (min-width:1200px) {
	.navbar-expand-xl {
		flex-wrap: nowrap;
		justify-content: flex-start
	}
	.navbar-expand-xl .navbar-nav {
		flex-direction: row
	}
	.navbar-expand-xl .navbar-nav .dropdown-menu {
		position: absolute
	}
	.navbar-expand-xl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem
	}
	.navbar-expand-xl .navbar-nav-scroll {
		overflow: visible
	}
	.navbar-expand-xl .navbar-collapse {
		display: flex!important;
		flex-basis: auto
	}
	.navbar-expand-xl .navbar-toggler {
		display: none
	}
	.navbar-expand-xl .offcanvas-header {
		display: none
	}
	.navbar-expand-xl .offcanvas {
		position: inherit;
		bottom: 0;
		z-index: 1000;
		flex-grow: 1;
		visibility: visible!important;
		background-color: transparent;
		border-right: 0;
		border-left: 0;
		transition: none;
		transform: none
	}
	.navbar-expand-xl .offcanvas-bottom,
	.navbar-expand-xl .offcanvas-top {
		height: auto;
		border-top: 0;
		border-bottom: 0
	}
	.navbar-expand-xl .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible
	}
}

@media (min-width:1400px) {
	.navbar-expand-xxl {
		flex-wrap: nowrap;
		justify-content: flex-start
	}
	.navbar-expand-xxl .navbar-nav {
		flex-direction: row
	}
	.navbar-expand-xxl .navbar-nav .dropdown-menu {
		position: absolute
	}
	.navbar-expand-xxl .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem
	}
	.navbar-expand-xxl .navbar-nav-scroll {
		overflow: visible
	}
	.navbar-expand-xxl .navbar-collapse {
		display: flex!important;
		flex-basis: auto
	}
	.navbar-expand-xxl .navbar-toggler {
		display: none
	}
	.navbar-expand-xxl .offcanvas-header {
		display: none
	}
	.navbar-expand-xxl .offcanvas {
		position: inherit;
		bottom: 0;
		z-index: 1000;
		flex-grow: 1;
		visibility: visible!important;
		background-color: transparent;
		border-right: 0;
		border-left: 0;
		transition: none;
		transform: none
	}
	.navbar-expand-xxl .offcanvas-bottom,
	.navbar-expand-xxl .offcanvas-top {
		height: auto;
		border-top: 0;
		border-bottom: 0
	}
	.navbar-expand-xxl .offcanvas-body {
		display: flex;
		flex-grow: 0;
		padding: 0;
		overflow-y: visible
	}
}

.navbar-expand {
	flex-wrap: nowrap;
	justify-content: flex-start
}

.navbar-expand .navbar-nav {
	flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
	position: absolute
}

.navbar-expand .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem
}

.navbar-expand .navbar-nav-scroll {
	overflow: visible
}

.navbar-expand .navbar-collapse {
	display: flex!important;
	flex-basis: auto
}

.navbar-expand .navbar-toggler {
	display: none
}

.navbar-expand .offcanvas-header {
	display: none
}

.navbar-expand .offcanvas {
	position: inherit;
	bottom: 0;
	z-index: 1000;
	flex-grow: 1;
	visibility: visible!important;
	background-color: transparent;
	border-right: 0;
	border-left: 0;
	transition: none;
	transform: none
}

.navbar-expand .offcanvas-bottom,
.navbar-expand .offcanvas-top {
	height: auto;
	border-top: 0;
	border-bottom: 0
}

.navbar-expand .offcanvas-body {
	display: flex;
	flex-grow: 0;
	padding: 0;
	overflow-y: visible
}

.navbar-light .navbar-brand {
	color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: rgba(0, 0, 0, .9)
}

.navbar-light .navbar-nav .nav-link {
	color: #343f52
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: #3f78e0
}

.navbar-light .navbar-nav .nav-link.disabled {
	color: rgba(52, 63, 82, .3)
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
	color: #3f78e0
}

.navbar-light .navbar-toggler {
	color: #343f52;
	border-color: transparent
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='45' height='32' viewBox='0 0 45 32'%3e%3cpath fill='%233f78e0' d='M26.88 29.888c-1.076 1.289-2.683 2.103-4.48 2.103s-3.404-0.814-4.472-2.093l-0.008-0.009-5.12-7.040-8.192-10.048-3.52-4.608c-0.646-0.848-1.036-1.922-1.036-3.087 0-2.828 2.292-5.12 5.12-5.12 0.139 0 0.277 0.006 0.413 0.016l-0.018-0.001h33.664c0.118-0.010 0.256-0.015 0.396-0.015 2.828 0 5.12 2.292 5.12 5.12 0 1.165-0.389 2.239-1.045 3.1l0.009-0.013-3.52 4.608-7.872 10.048z'/%3e%3c/svg%3e")
}

.navbar-light .navbar-text {
	color: #343f52
}

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
	color: #3f78e0
}

.navbar-dark .navbar-brand {
	color: #fff
}

.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
	color: #fff
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgba(255, 255, 255, .7)
}

.navbar-dark .navbar-nav .nav-link.disabled {
	color: rgba(255, 255, 255, .25)
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
	color: rgba(255, 255, 255, .7)
}

.navbar-dark .navbar-toggler {
	color: #fff;
	border-color: transparent
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='45' height='32' viewBox='0 0 45 32'%3e%3cpath fill='%23fff' d='M26.88 29.888c-1.076 1.289-2.683 2.103-4.48 2.103s-3.404-0.814-4.472-2.093l-0.008-0.009-5.12-7.040-8.192-10.048-3.52-4.608c-0.646-0.848-1.036-1.922-1.036-3.087 0-2.828 2.292-5.12 5.12-5.12 0.139 0 0.277 0.006 0.413 0.016l-0.018-0.001h33.664c0.118-0.010 0.256-0.015 0.396-0.015 2.828 0 5.12 2.292 5.12 5.12 0 1.165-0.389 2.239-1.045 3.1l0.009-0.013-3.52 4.608-7.872 10.048z'/%3e%3c/svg%3e")
}

.navbar-dark .navbar-text {
	color: #fff
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
	color: rgba(255, 255, 255, .7)
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(164, 174, 198, .2);
	border-radius: .4rem
}

.card>hr {
	margin-right: 0;
	margin-left: 0
}

.card>.list-group {
	border-top: inherit;
	border-bottom: inherit
}

.card>.list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: .4rem;
	border-top-right-radius: .4rem
}

.card>.list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: .4rem;
	border-bottom-left-radius: .4rem
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
	border-top: 0
}

.card-body {
	flex: 1 1 auto;
	padding: 2rem 2rem
}

.card-title {
	margin-bottom: .5rem
}

.card-subtitle {
	margin-top: -.25rem;
	margin-bottom: 0
}

.card-text:last-child {
	margin-bottom: 0
}

.card-link+.card-link {
	margin-left: 2rem
}

.card-header {
	padding: 1rem 2rem;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(164, 174, 198, .2)
}

.card-header:first-child {
	border-radius: .4rem .4rem 0 0
}

.card-footer {
	padding: 1rem 2rem;
	border-top: 1px solid rgba(164, 174, 198, .2)
}

.card-footer:last-child {
	border-radius: 0 0 .4rem .4rem
}

.card-header-tabs {
	margin-right: -1rem;
	margin-bottom: -1rem;
	margin-left: -1rem;
	border-bottom: 0
}

.card-header-pills {
	margin-right: -1rem;
	margin-left: -1rem
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	border-radius: .4rem
}

.card-img,
.card-img-bottom,
.card-img-top {
	width: 100%
}

.card-img,
.card-img-top {
	border-top-left-radius: .4rem;
	border-top-right-radius: .4rem
}

.card-img,
.card-img-bottom {
	border-bottom-right-radius: .4rem;
	border-bottom-left-radius: .4rem
}

.card-group>.card {
	margin-bottom: .75rem
}

@media (min-width:576px) {
	.card-group {
		display: flex;
		flex-flow: row wrap
	}
	.card-group>.card {
		flex: 1 0 0%;
		margin-bottom: 0
	}
	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}
	.card-group>.card:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-header,
	.card-group>.card:not(:last-child) .card-img-top {
		border-top-right-radius: 0
	}
	.card-group>.card:not(:last-child) .card-footer,
	.card-group>.card:not(:last-child) .card-img-bottom {
		border-bottom-right-radius: 0
	}
	.card-group>.card:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-header,
	.card-group>.card:not(:first-child) .card-img-top {
		border-top-left-radius: 0
	}
	.card-group>.card:not(:first-child) .card-footer,
	.card-group>.card:not(:first-child) .card-img-bottom {
		border-bottom-left-radius: 0
	}
}


